<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hframe.dao.HfpmProgramMapper" >
  <resultMap id="BaseResultMap" type="com.hframe.domain.model.HfpmProgram" >
    <constructor >
      <idArg column="hfpm_program_id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="hfpm_program_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="hfpm_program_code" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="hfpm_program_desc" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="op_id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="modify_op_id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="modify_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="del_flag" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="owner_code" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    hfpm_program_id, hfpm_program_name, hfpm_program_code, hfpm_program_desc, op_id, 
    create_time, modify_op_id, modify_time, del_flag, owner_code
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.hframe.domain.model.HfpmProgram_Example" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from `hfpm_program`
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitEnd != null and limitEnd != 0" >
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from `hfpm_program`
    where hfpm_program_id = #{hfpmProgramId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from `hfpm_program`
    where hfpm_program_id = #{hfpmProgramId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.hframe.domain.model.HfpmProgram_Example" >
    delete from `hfpm_program`
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hframe.domain.model.HfpmProgram" >
    <selectKey resultType="java.lang.Long" keyProperty="hfpmProgramId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into `hfpm_program` (hfpm_program_name, hfpm_program_code,
    hfpm_program_desc, op_id, create_time,
    modify_op_id, modify_time, del_flag,
    owner_code)
    values (#{hfpmProgramName,jdbcType=VARCHAR}, #{hfpmProgramCode,jdbcType=VARCHAR},
    #{hfpmProgramDesc,jdbcType=VARCHAR}, #{opId,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP},
    #{modifyOpId,jdbcType=BIGINT}, #{modifyTime,jdbcType=TIMESTAMP}, #{delFlag,jdbcType=INTEGER},
    #{ownerCode,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hframe.domain.model.HfpmProgram" >
    <selectKey resultType="java.lang.Long" keyProperty="hfpmProgramId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into `hfpm_program`
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="hfpmProgramName != null" >
        hfpm_program_name,
      </if>
      <if test="hfpmProgramCode != null" >
        hfpm_program_code,
      </if>
      <if test="hfpmProgramDesc != null" >
        hfpm_program_desc,
      </if>
      <if test="opId != null" >
        op_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="modifyOpId != null" >
        modify_op_id,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
      <if test="ownerCode != null" >
        owner_code,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="hfpmProgramName != null" >
        #{hfpmProgramName,jdbcType=VARCHAR},
      </if>
      <if test="hfpmProgramCode != null" >
        #{hfpmProgramCode,jdbcType=VARCHAR},
      </if>
      <if test="hfpmProgramDesc != null" >
        #{hfpmProgramDesc,jdbcType=VARCHAR},
      </if>
      <if test="opId != null" >
        #{opId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyOpId != null" >
        #{modifyOpId,jdbcType=BIGINT},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=INTEGER},
      </if>
      <if test="ownerCode != null" >
        #{ownerCode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hframe.domain.model.HfpmProgram_Example" resultType="java.lang.Integer" >
    select count(*) from `hfpm_program`
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update `hfpm_program`
    <set >
      <if test="record.hfpmProgramId != null" >
        hfpm_program_id = #{record.hfpmProgramId,jdbcType=BIGINT},
      </if>
      <if test="record.hfpmProgramName != null" >
        hfpm_program_name = #{record.hfpmProgramName,jdbcType=VARCHAR},
      </if>
      <if test="record.hfpmProgramCode != null" >
        hfpm_program_code = #{record.hfpmProgramCode,jdbcType=VARCHAR},
      </if>
      <if test="record.hfpmProgramDesc != null" >
        hfpm_program_desc = #{record.hfpmProgramDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.opId != null" >
        op_id = #{record.opId,jdbcType=BIGINT},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifyOpId != null" >
        modify_op_id = #{record.modifyOpId,jdbcType=BIGINT},
      </if>
      <if test="record.modifyTime != null" >
        modify_time = #{record.modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.delFlag != null" >
        del_flag = #{record.delFlag,jdbcType=INTEGER},
      </if>
      <if test="record.ownerCode != null" >
        owner_code = #{record.ownerCode,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update `hfpm_program`
    set hfpm_program_id = #{record.hfpmProgramId,jdbcType=BIGINT},
    hfpm_program_name = #{record.hfpmProgramName,jdbcType=VARCHAR},
    hfpm_program_code = #{record.hfpmProgramCode,jdbcType=VARCHAR},
    hfpm_program_desc = #{record.hfpmProgramDesc,jdbcType=VARCHAR},
    op_id = #{record.opId,jdbcType=BIGINT},
    create_time = #{record.createTime,jdbcType=TIMESTAMP},
    modify_op_id = #{record.modifyOpId,jdbcType=BIGINT},
    modify_time = #{record.modifyTime,jdbcType=TIMESTAMP},
    del_flag = #{record.delFlag,jdbcType=INTEGER},
    owner_code = #{record.ownerCode,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hframe.domain.model.HfpmProgram" >
    update `hfpm_program`
    <set >
      <if test="hfpmProgramName != null" >
        hfpm_program_name = #{hfpmProgramName,jdbcType=VARCHAR},
      </if>
      <if test="hfpmProgramCode != null" >
        hfpm_program_code = #{hfpmProgramCode,jdbcType=VARCHAR},
      </if>
      <if test="hfpmProgramDesc != null" >
        hfpm_program_desc = #{hfpmProgramDesc,jdbcType=VARCHAR},
      </if>
      <if test="opId != null" >
        op_id = #{opId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyOpId != null" >
        modify_op_id = #{modifyOpId,jdbcType=BIGINT},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=INTEGER},
      </if>
      <if test="ownerCode != null" >
        owner_code = #{ownerCode,jdbcType=VARCHAR},
      </if>
    </set>
    where hfpm_program_id = #{hfpmProgramId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hframe.domain.model.HfpmProgram" >
    update `hfpm_program`
    set hfpm_program_name = #{hfpmProgramName,jdbcType=VARCHAR},
      hfpm_program_code = #{hfpmProgramCode,jdbcType=VARCHAR},
      hfpm_program_desc = #{hfpmProgramDesc,jdbcType=VARCHAR},
      op_id = #{opId,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modify_op_id = #{modifyOpId,jdbcType=BIGINT},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      del_flag = #{delFlag,jdbcType=INTEGER},
      owner_code = #{ownerCode,jdbcType=VARCHAR}
    where hfpm_program_id = #{hfpmProgramId,jdbcType=BIGINT}
  </update>
</mapper>