<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:ehcache="http://ehcache-spring-annotations.googlecode.com/svn/schema/ehcache-spring"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://ehcache-spring-annotations.googlecode.com/svn/schema/ehcache-spring
         http://ehcache-spring-annotations.googlecode.com/svn/schema/ehcache-spring/ehcache-spring-1.1.xsd"
       default-autowire="byName">

    <!-- 组件自动扫描 （注解） -->
    <context:component-scan base-package="com.hframe"/>
    <!--<context:component-scan base-package="org.activiti.explorer" />-->
    <context:annotation-config/>

    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <tx:annotation-driven transaction-manager="transactionManager"/>

    <!-- ehcache配置开始 -->
    <ehcache:annotation-driven />
    <ehcache:config cache-manager="cacheManager">
        <ehcache:evict-expired-elements interval="60"/>
    </ehcache:config>

    <bean id="cacheManager" class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean">
        <property name="configLocation"  value="classpath:spring/spring-config-ehcache.xml"/>
    </bean>
    <!-- ehcache配置结束 -->

    <bean class="com.hframework.common.springext.properties.PropertyConfigurerUtils">
        <property name="locations">
            <list>
                <value>classpath:properties/dataSource.properties</value>
                <value>classpath:properties/projectCreate.properties</value>
                <value>classpath:db.properties</value>
            </list>
        </property>
    </bean>
    <bean class="com.hframework.base.service.CommonDataService" name="commonDataService"/>


    <import resource="classpath:spring/spring-config-dataSource.xml"/>
    <import resource="classpath:spring/spring-config-dao.xml"/>
    <import resource="classpath:spring/spring-config-service.xml"/>
    <!--<import resource="classpath:spring/spring-config-activiti.xml"/>-->

</beans>